body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
  background: url('https://img.freepik.com/premium-photo/black-stone-texture-dark-slate-background-top-view_88281-1206.jpg?w=2000') !important; 
  background-size: cover !important;
  
}
.App{
  width:300px;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Screen Css */
.screen-container{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(89, 188, 201) !important;
}
.screen{
  position: relative;
  height: 280px;
  width: auto;
  
}

/* Loader Animation */
.selected{
  border-radius: 10px ;
  background-color: #025c74 !important;
  color:white;
}
.song_selected{
  border-radius: 10px;
  background-color: #d9d9d9 !important;
  /* animation */
  transform: scalex(1.1);
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(43, 43, 43) !important;
  transition: all 0.3s ease-in-out;
}
.selected i{
  display: block;
  color: white;
}
.loading{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(174, 174, 229);
  border-right: 16px solid rgb(82, 111, 175);
  border-bottom: 16px solid rgb(39, 44, 119);
  border-left: 16px solid rgb(13, 36, 110);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Song Image */
.song-image{
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
#song-img{
  width:120px;
  height:auto;
  object-fit:contain;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
}
.screen-music-instruction{
  margin-top: -5px !important;
}
#audio{
  background-color:rgba(0, 0, 0, 0.571);
  box-shadow: 0 0 10px 0 rgba(14, 14, 14, 0.5);
  width: 90%;
  border-radius: 10px;
}
/* Menu page css */
.screen-menu{
  z-index: 1;
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 50%;
  margin:0 !important;
  background-color: rgb(196, 223, 240);
  border-radius: 10px !important;
}

.menu-items{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  height: 100%;
  font-size:1.1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.menu-items >div{
  /* border-bottom: 1px solid black; */
  width: 100%;
  transition: all 0.3s ease-in-out;
}.item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}
/* All Songs page */
.all-songs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2px;
  height: 100%;
  width: 100%; 
}
.all-songs > div{
  width: 90%;
  color: white;
  background-color: rgba(87, 86, 86, 0.5);
  border-radius: 10px;
  padding: 4px
}
h2{
  font: 400 1.3rem 'Roboto', sans-serif;
  color: white;
}

/* Button Container */
.buttons-container{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:240px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.gif{
  transition: all 0.3s ease-in-out;
}
.gif img{
  position: absolute;
  width:100%;
  top:0;
  left:0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  
}
.button{
  height:160px;
  width: 160px;
  /* margin-top: 25px; */
  border-radius: 50%;
  background: #282c34;
  border: 1px solid #282c34;
  
  background-color: rgba(0, 0, 0, 0.995);
  color: rgb(227, 224, 224);
  transition: all 0.3s ease-in-out;
  /* background-color: rgba(134, 134, 134, 0.5); */
}

.button-inner{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.button-inner-circle{
  position:relative;
  width: 50%;
	height: 50%;
  border-radius: 50%;
  background: rgb(3, 79, 32);
  border: 1px solid #282c34;
  cursor: pointer;
  
  transition: all 0.3s ease-in-out;
}
.menu-btn{
  position: absolute;
	top: 0px;
	height: 25%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 37% 37% 0% 0%;
	font-size: 30px;
	outline: none;
	border: none;
	background-color: transparent;
  cursor: pointer;
  
}
.menu-btn:hover{
  color: #61dafb;
}
.play-btn{
  position: absolute;
	bottom: 0px;
	height: 25%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0% 37% 37%;
	font-size: 30px;
	outline: none;
	border: none;
  cursor: pointer;
	background-color: transparent;
}
.play-btn:hover{
  color: #61dafb;
}
.next-btn{
  position: absolute;
  right: 0px;
  height: 50%;
  width: 25%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 0px 37% 37% 0%;
  font-size: 30px;
  outline: none;
  border: none;
  background-color: transparent;
}
.next-btn:hover{
  color: #61dafb;
}
.prev-btn{
  position: absolute;
  left: 0px;
  height: 50%;
  width: 25%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 37% 0% 0% 37%;
  font-size: 30px;
  outline: none;
  border: none;
  background-color: transparent;
}
.prev-btn:hover{
  color: #61dafb;
}
.button-inner-circle{
  cursor: pointer;
}
.button-circle{
  background-color: #61dafb;
  position: absolute;
  height: 22px;
  width: 22px;
  
  border-radius: 50%;
  background-color: rgba(3, 217, 255,1);
  top:20px;
  margin-top: 1px;
 
}
/* Animation for colouring btn*/
@keyframes background-gradient-animation {
	0% {
		background-color: #f07293;
	}
	20% {
		background-color: #f75990;
	}
	40% {
		background-color: #fff685;
	}
	60% {
		background-color: #600d87;
	}
	80% {
		background-color: #0049b7;
	}
	100% {
		background-color: #ff1d58;
	}
}

.colored {
    transition:background-color ease-in-out 0.2s;
	animation-name: background-gradient-animation;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	color: white;
    opacity: 0.9;
}
.colored svg {
	color: white;
}
.colored .center-circle {
	background-color: black;
}
/* Css for empty pages */
.screen-game>div
{

  font-size:140px;
  color:red;
}
.screen-game h1
{
  color:white;
    margin:0px;
}

.screen-setting>h1
{
  color:white;
    margin:0px;
}
.screen-setting>div
{
    font-size:150px;
    color:rgb(134, 134, 134);
}

.screen-coverflow>h1
{       
  color:white;
    margin:0px;
}
.screen-coverflow>div
{
    font-size:150px;
    color:rgb(255, 145, 0);
}

.artists-screen>h1
{
  color:white;
    margin:0px;
}
.artists-screen>div
{
    font-size:140px;
    color:rgb(174, 0, 255);
}

.albums-screen>h1
{
  color:white;
    margin:0px;
}
.albums-screen>div
{
    font-size:140px;
    color:rgb(174, 0, 255);
}
